.datesContainer {
  background: linear-gradient(135deg, rgba(0, 25, 84, 0.65) 10%,#111111 95%);
  transition: height 0.25s ease-in-out;
  width: 415px;
  flex: 0 0 auto;
  height: 42px;
  overflow: hidden;
  border-radius: 8px;
  margin-left: 24px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20), 0px 4px 30px -8px rgba(0, 0, 0, 0.20);
}
.datesContainer.open {
  height: 196px;
}
.datesContainer .picker {
  border-radius: 8px;
  height: 196px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.picker .range {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 6px 16px;
}
.picker .range span {
  font-size: 20px;
  font-weight: 700;
}
.picker .range .marginRight {
  margin-right: 8px;
}
.picker .range .arrow {
  margin-left: auto;
  color: white;
}
.picker .dates {
  display: flex;
  align-items: center;
  padding: 24px;
  padding-top: 8px;
}
.picker .dates .arroRight {
  margin-left: 8px;
  margin-right: 8px;
}
.picker .labels {
  display: flex;
  padding: 24px;
  padding-bottom: 0px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 700;
}
.picker .label {
  margin-bottom: 4px;
}
.picker .marginTop {
  margin-top: 8px;
}
.picker button.btn {
  margin-top: 24px;
}
.picker input {
  padding: 8px !important;
  width: 162px !important;
  color: #cacaca;
}
.picker .btnContainer {
  bottom: 24px;
  left: 24px;
  right: 24px;
  position: absolute;
}
.picker .btn {
  width: 100%;
  height: 30px;
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-right: 24px;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picker .btn:hover {
  background-color: #004CAD;
  border: 1px solid #004CAD;
}
.picker .toDate {
  margin-left: 24px;
}
.MuiInputBase-root.MuiOutlinedInput-root {
  border: 1px solid #cacaca;
  width: 162px;
  height: 36px;
}
.MuiSvgIcon-root {
  color: #cacaca;
}
